<h1>About Me</h1><br />

<img src="http://3219a2.medialib.glogster.com/media/9f/9fabee05da7dbb2ba8df99c61210bfb79daae93d889eb60c74c93dd8a583eaa7/salad-fingers-6.jpg" alt="Dale Cooper" />
<h1><strong>Bryan Anderson</strong></h1>
<h3>-Web Developer In Training-</h3>
